.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar{
  margin-bottom: 0!important;
}

.online{
  color: chartreuse;
}

.show-profile-content{
  padding: 10px;
}

.image-divs{
  height:300px
}

.image-divs img{
  width:100%
}

.image-tiles{
  height:100px;
  width:130px;
  padding-right:0;
  padding-left:0;
}

.image-tiles img {
  width: 100%;
  height: 100%
}
.preview {
  background-size:100% 100%;
  background: hidden;
  background-repeat: no-repeat;
  height:400px
}

.preview .name{
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 200px;
  font-size: 20px;
  text-align: center;

}

.preview .title{
  color:white;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;

}

.preview .country{
  color:white;
  font-weight: bold;
  text-align: left;
  margin-top: 100px;
  margin-left: 20px;

}

.preview .country{
  color:white;
  font-weight: bold;
  text-align: right;
  margin-top: 100px;
  margin-left: 20px;

}

.pr0{
  padding-right: 0;
}

.pl0{
  padding-left: 0;
}

.back-link{
  float: left;
  margin-top:7px;
  margin-left:3px
}

.preview-content{
  margin-top: -20px;
}
.loading{
  overflow-y: hidden;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.infinity{
  overflow-y: hidden;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.slick-dots {
  bottom: 15px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
